body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#FBFCD8 ;
    align-content: space-between;
}
.header {
    background-color:#DDB100 ;
    padding: 30px 15px 50px 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    display: flex;
    
}
div .links {
    right:25px;
    position: absolute;
    padding-right: 15px;
    justify-content: end;
    flex-direction: row;
    align-items: end;
}
.links a {
    text-decoration: none;
    color: white;
    justify-content: end;
    flex-direction: row;
    margin-left: 20px;
}
.header span {
    
    justify-content: start;
    flex-direction: row;
}
.individual-boxes {
    border: 2px solid #DDB100;
    border-radius: 5px;
    width: 300px;
    background-color: white;
    margin: 15px;
    display: flex;
}
.individual-boxes h2 {
    padding: 0px 0px 0px 15px;
}
.individual-boxes p {
    margin: 0px 30px 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.LearnMore a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDB100;
    border-radius: 5px;
    padding: 5px 75px;
    margin: 40px;
    position: relative;
    bottom: 10px;
}
.individual-boxes {
    justify-content: start;
    flex-wrap: wrap;
    
}
#whole-container {
    margin: 0px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}